/* all */
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior:smooth;
}

/* scorllbar */
*::-webkit-scrollbar
{
  display: none;
}

  .main {
    padding-top: 75px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .product {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80vw;
    gap: 2rem;
    row-gap: 4rem;
  }
  
  figure {
    height: 200px;
    width: 200px;
    position: relative;
    padding-inline: 2rem;
    padding-block: 1rem 3rem;
    cursor: pointer;
    background-color: rgba(88, 89, 91, 0.03);
    box-shadow: 0px 8px 7px -8px rgb(6 6 6/50%);
  }
  
  figure:hover {
    box-shadow: 0 8px 7px -5px rgba(0, 128, 0, 0.4);
  }
  
  figure img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1.5/1;
    object-fit: scale-down;
    mix-blend-mode: multiply;
  }
  
  figcaption {
    position: absolute;
    color: black;
  }
  
  figcaption h4 {
    font: 20px "poppins semibold";
    font-weight: 600;
    color: #129948;
    margin-top: 1rem;
  }
  
  figcaption p {
    font: 14px "poppins";
    font-weight: 500;
    color: rgba(88, 89, 91, 100%);
    padding: 0;
    margin: 10px 0;
  }
  
  figcaption h4:hover,
  figcaption h4:focus,
  figcaption p:hover,
  figcaption p:focus {
    color: black;
  }
  
  figure:last-child {
    margin-bottom: 1rem;
  }
  
  .product-view {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 1050px;
  }
  
  .product-photo {
    width: 50%;
    max-width: 450px;
    height: auto;
    justify-content: start;
    margin-inline: 0 2rem;
  }
  
  .product-photo > img {
    width: 500px;
    height: auto;
    aspect-ratio: 1.5/1;
    object-fit: scale-down;
    mix-blend-mode: multiply;
  }
  
  .product-detail {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: start;
  }
  
  .product-head {
    font: 28px "poppins semibold";
    color: #129948;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .product-desc {
    font: 14px "poppins";
    color: black;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    padding-right: 5rem;
    text-align: justify;
  }
  
  .product-review {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    max-width: 300px;
    justify-content: space-between;
  }
  
  .review-high,
  .review-low {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    margin-block: 1rem;
  }
  
  .review-top,
  .review-short {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-block: 1rem;
  }
  
  .product-review img {
    width: 30px;
    height: auto;
    margin: 0;
    padding: 0;
    margin-right: 0.5rem;
  }
  
  .review-name {
    font: 14px "poppins";
    color: black;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  
  .product-booking {
    margin: 0;
    padding: 0;
  }
  
  .product-price {
    font: 20px "poppins medium";
    color: #129948;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
  }
  
  .product-booking button[type="submit"] {
    font: 16px "poppins medium";
    background-color: #129948;
    border: 2px solid #129948;
    border-radius: 12px;
    color: white;
    padding: 5px 10px;
  }
  
  .product-booking button[type="submit"]:hover,
  .product-booking button[type="submit"]:focus {
    background-color: white;
    border-color: white;
    color: #129948;
  }
  
  .product-book {
    padding: 0;
    margin: 0;
  }
  
  .review-user {
    font: 20px "poppins medium";
    color: #129948;
    font-weight: 600;
    margin: 1rem 0;
  }
  
  .product-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: scroll;
    width: 80vw;
    max-width: 1080px;
    height: 80vh;
    display: flex;
    justify-content: center;
  }
  
  .product-modal {
    display: none;
    flex-flow: row nowrap;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
  }
  
  .product-close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    z-index: 7;
  }
  
  .product-close:hover,
  .product-close:focus {
    color: red;
    cursor: pointer;
  }
  
  .product-animated {
    animation: animatezoom 0.6s;
  }
  
  @-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
  }
  
  @keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
  }

  .datetime-picker {
    display: inline-flex;
  }
  
  .date-picker {
    position: relative;
  }

  .prev-btn,
.next-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    font-size: 16px;
    cursor: pointer;
    color: #129948;
    font-weight: 800;

}

.prev-btn:hover,
.next-btn:hover{
    color: #000;

}

.prev-btn {
  left: 50px;
}

.next-btn {
  right: 50px;
}
  
  .date-input {
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    border: 2px solid #129948;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: "poppins";
    color: #333;
  }
  
  .calendar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 2px solid #129948;
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
    font-family: "poppins", sans-serif; /* Match your website's font */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Ensure the date picker is on top of other elements */
  }
  
  .calendar-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #129948; /* Match your website's highlight color */
  }
  
  .calendar-header span {
    margin: 0 20px;
  }
  
  .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .calendar-day {
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333; /* Match your website's text color */
  }
  
  .calendar-day:hover {
    background-color: #f2f2f2;
  }
  
  .disabled {
    cursor: default;
    opacity: 0.5; /* Past dates will have reduced opacity */
  }
  
  .today {
    background-color: #eee;
    color: #129948;
  }
  
  .selected {
    background-color: #129948; /* Match your website's highlight color */
    color: #fff;
  }
  
  @media only screen and (width<=780px) {
    .product {
        width: 90vw;
        gap: 1rem;
        row-gap: 2rem;
    }
  
    figure {
        padding: 11px;
        height: 20vh;
        width: 37vw;
    }
  
    figure:hover {
        box-shadow: 0px 8px 7px -5px rgb(6 6 6/50%);
    }
  
    figcaption h4 {
        margin: 0;
        margin-top: 1rem;
    }
  
    figcaption p {
        margin: 0;
        margin-top: 0.5rem;
    }
  
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
  }
  
  