.nothead{
    display: flex;
    flex-flow: row nowrap;
    padding-top: 67px;
    width: max(850px);
    height: auto;
    margin-inline:auto;
    justify-content: start;
    align-items: center;
}

.notbody{
    width: 90%;
    margin-inline:auto ;
    margin-block: 5px;
    padding-block: 5px;
}

.nottitle,.nottext{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

.nottitle > h1{
    font-family: poppins;
    margin: 0;
    font-weight: 800;
    font-size: 30px;
}

.nottext > a{
    margin-right:15px;
}

.notrtext > h4{
    font-family: poppins;
    margin: 0;
    font-weight: 550;
    font-size: 16px;
}

.notpar > h4{
    text-decoration: none;
    position: relative;
    padding-inline: 2px;
    z-index: 0;
}
  
.notpar > h4::after{
    content: "";
      position: absolute;
      border-radius: 60px;
      width: 100%;
      height: 3px;
      background-color: #01993e;
      transform: scaleX(0);
      transition: transform 0.15s ease-in-out;
      padding: 0;
      margin: 0 ;
      bottom: 0;
      left: 0;
}
  
  
.notpar > h4:hover::after,
.notpar.active > h4::after{
    transform: scaleX(1);
}

  
.ncon{
    position: absolute;
    top: 0;
    width: 400px;
    height: 100%;
    background-color:rgba(249,255,250,95%);
    padding: 0;
    margin-inline:auto ;
}
  
.ncon:empty{
    display: none;
}
  
.cent{
    text-align: center;
    display: flex;
}
  
.sec{
    display: flex;
    padding: 20px 5px;
    background-color:rgba(249,255,250,95%);
    transition: 0.5s;
    margin-top: 1px;
}
  
.profCont{
    padding-left: 0px;
}

.profCont img{
    width: auto;
    height:max(70px);
    padding: 0 7px;
    margin-top: 3px;
    aspect-ratio: 3/3;
    object-fit: contain;

}
  
.profile{
    clip-path: circle(50% at 50% 50%);
    width: 75px;
    float: left;
    z-index: 0;
}

.txt{
    vertical-align: top;
    font-size: 1.25rem;
    color: rgb(79, 79, 79);
    padding: 5px 10px 0px 15px;
}

.sub{
    font-size: 1rem;
    color: rgb(165, 165, 165);
}
  
.new{
    border-style: none none solid none;
    border-color: #01993e;
    font-weight: 800;
}
  
.sec:hover{
    background-color:rgb(223, 223, 223,40%);
}

.updatebtn{
    color: white;
    border-radius: 8px;
    padding: 8px 10px;
    cursor: pointer;

}

.delete-product{
    background-color: red;
    border: 2px solid red;
}

.delete-product:hover{
    background-color: var(--textcolor);
    border-color: var(--textcolor);
}

@media only screen and (width<=780px) {
 
    .nothead{
        padding-top: 55px;
        width: max(850px);
        width: 100%;
    }

    .notpar > h4{
        height: 18px;
    }

    .notpar > h4::after{
          margin: -1px 0 ;
    }
    
    .updatebtn{
        font-size: 10px;
        font-weight: 600;
        padding: 5px 7px;
    margin-top: 25px;

    }
}